@font-face {
    font-family: 'Monomaniac One';
    src: url("../fonts/MonomaniacOne-Regular.ttf") format('truetype');
}
:root {
    --COR-04: #164863;
    --COR-03: #427D9D;
    --COR-02: #9BBEC8;
    --COR-01: #DDF2FD;
    --COR-TEXTO-01: rgba(22, 72, 99, 0.3);
    --COR-TEXTO-02: rgba(22, 72, 99, 0.8);
    --MARGIN-TOP-CONTAINER: 10px;
    --MARGIN-BOTTOM-CONTAINER: 22px;
    --TAMANHO-FONTE-INPUT: 29px;
    --TAMANHO-FONTE-FOOTER-NOMES: 16px;
    --TAMANHO-FONTE-BTN-CADASTRAR: 37px;
    --HEIGHT-INPUT: 51px;
    --WIDTH-INPUT-NORMAL: 670px;
    --WIDTH-INPUT-DATA: 216px;
    --WIDTH-INPUT-LAL: 328px;
    --PADDING-FRM-CADASTRO: 48px 86px 18px 86px;
    --MARGIN-INPUT-PRO-OUTRO: 1.6px;
    --FONTE: "Monomaniac One", sans-serif;
}
body {
    background-color: #9BBEC8;
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One', sans-serif;
}

.container{
    background-color:  var(--COR-03);
    border-radius: 20px;
    width: 500px;
    height: 800px;

}
img {
    width: 10%;
    height: auto;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h1.titulo {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.form, .create-account {
    width: 100%;
    max-width: 450px;
    color: white;
    font-size: 35px;
}

form {
    background-color: #427D9D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
}

form label input {
    margin-bottom: 1rem;
    margin-left: 2.1rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
    width: 85%;
    align-self: center;
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    color: var(--COR-TEXTO-02);
}
form label input:focus{
    outline: var(--COR-04) 4px solid;
    color: var(--COR-TEXTO-02);
}
form label input::placeholder {
    color: var(--COR-TEXTO-01);
}
.linha {
    background-color: #164863;
    width: 85%;
    margin: 1.5rem 0;
    height: 2px;
    align-self: center;
}

button {
    background-color: #164863;
    color: white;
    padding: 1rem 5rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Monomaniac One', sans-serif;
    width: 85%;
    align-self: center;
    box-sizing: border-box;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

button:hover {
    background-color: #164863;
    transform: scale(1.03);
    transition: 0.10s;
}

footer {
    background-color: #427D9D;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 4.7rem;
    min-height: 50px;
}