@font-face {
    font-family: 'Monomaniac One';
    src: url("MonomaniacOne-Regular.ttf") format('truetype');
}

body {
    background-color: #9BBEC8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One', sans-serif;
}

.container{
    background-color:  #427D9D;
    border-radius: 20px;
    width: 500px;
    height: 800px;

}
img {
    width: 10%;
    height: auto;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h1.titulo {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.form, .create-account {
    width: 100%;
    max-width: 400px;
    color: white;
    font-size: 25px;
}

form {
    background-color: #427D9D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;

}

label {
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
    width: 80%;
    align-self: center;
    box-sizing: border-box;
    border: none;
}

.linha {
    background-color: #164863;
    width: 80%;
    margin: 1.5rem 0;
    height: 2px;
    align-self: center;
}

button {
    background-color: #164863;
    color: white;
    padding: 0.5rem 1.0rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Monomaniac One', sans-serif;
    width: 80%;
    align-self: center;
    box-sizing: border-box;
}

button:hover {
    background-color: #164863;
    transform: scale(1.1);
}

footer {
    background-color: #427D9D;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 4.7rem;
    min-height: 50px;
}