@font-face {
    font-family: 'Monomaniac One';
    src: url("../fonts/MonomaniacOne-Regular.ttf") format('truetype');
}

:root {
    --COR-05: #335d7461;
    --COR-04: #164863;
    --COR-03: #427D9D;
    --COR-02: #9BBEC8;
    --COR-01: #DDF2FD;
    --COR-TEXTO-01: rgba(22, 72, 99, 0.3);
    --COR-TEXTO-02: rgba(22, 72, 99, 0.8);
    --COR-TEXTO-03: rgba(221, 242, 253, 0.50);
    --COR-TEXTO-04: #DDF2FD;
    --COR-TEXTO-05: rgba(221, 242, 253, 0.70);
    --FONTE: "Monomaniac One", sans-serif;
    --TAMANHO-FONTE: 25px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--COR-02);
    font-family: 'Monomaniac One', sans-serif;
}

.retanguloPerfil {
    width: 63%;
    height: auto;
    border-radius: 20px;
    background-color: #427D9D;
    position: absolute;
    left: 2%;
    top: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.header {
    margin-right: 44rem;
    width: 250px;
    display: flex;
}

.header a {
    text-decoration: none;
}

.homePage {
    font-size: 2rem;
    color: rgba(221, 242, 253, 0.60);
    cursor: pointer;
    margin-right: 5rem;
    margin-top: 0.5rem;
    margin-left: 5rem;
    text-decoration: none;
}

.perfil {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #DDF2FD;
    cursor: default;
}

.perfil::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #DDF2FD;
    border-radius: 20px;
}

.fundoPerfil {
    width: 100%;
    height: 36vh;
    display: block;
    top: 4rem;
    position: absolute;
    object-fit: cover;
    object-position: center;
    border-top: 4px solid #164863;
}

.fotoPerfil {
    border-radius: 50%;
    width: 15%;
    height: 18vh;
    top: 16rem;
    left: 3%;
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
    border: 6px solid #427D9D;
}

.nome-usuario {
    margin-right: 45rem;
    margin-top: 20rem;
    font-size: 1.7rem;
    color: #DDF2FD;
}

.profile-description {
    margin-right: 9.5rem;
    min-width: 700px;
    max-width: 700px;
    text-align: justify;
    text-justify: distribute-all-lines;
    line-height: 1.5;
    background: rgba(120, 33, 33, 0);
}

.descricao {
    font-size: 1.4rem;
    color: #DDF2FD;
}

.seguindoSeguidores {
    margin-right: 34.5rem;
    width: 300px;
    display: flex;
    align-items: center;
}

.numSeguindo {
    font-size: 1.4rem;
    color: #DDF2FD;
}

.seguindo {
    font-size: 1.4rem;
    color: rgba(221, 242, 253, 0.60);
}

.numSeguidores {
    margin-left: 30px;
    font-size: 1.4rem;
    color: #DDF2FD;
}

.seguidores {
    font-size: 1.4rem;
    color: rgba(221, 242, 253, 0.60);
}

.linha {
    width: 100%;
    height: 4px;
    background-color: #164863;
}


.pesquisaPerfis {
    width: 30%;
    height: 8vh;
    border-radius: 20px;
    background-color: #427D9D;
    position: absolute;
    right: 2%;
    top: 3.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Perfis {
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    background-color: #427D9D;
    position: absolute;
    right: 2%;
    top: 14%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pesquisaComunidades {
    width: 30%;
    height: 8vh;
    border-radius: 20px;
    background-color: #427D9D;
    position: absolute;
    right: 2%;
    top: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Comunidades {
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    background-color: #427D9D;
    position: absolute;
    right: 2%;
    top: 78.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#editarFotoFundoUsuario {
    display: none;
}

#editarFotoPerfilUsuario {
    display: none;
}

#editar-perfil {
    z-index: 1;
}

.pop-up-editar-perfil {
    background-color: var(--COR-04);
    width: 950px;
    position: absolute;
    top: 2rem;
    left: 18rem;
    border-radius: 20px;
}

.cabecalho {
    display: flex;
}

.cabecalho img {
    margin-top: 1rem;
    margin-left: 1rem;
}

.cabecalho p {
    color: var(--COR-TEXTO-04);
    font-size: 25px;
    padding-left: 20px;
}

.cabecalho button {
    position: absolute;
    right: 3rem;
    align-self: center;
    display: flex;
    width: 11rem;
    height: 3rem;
    align-items: center;
    background-color: var(--COR-03);
    border: 0;
    border-radius: 10px;
    color: var(--COR-01);
    font-family: var(--FONTE);
    font-size: 100%;
    justify-content: center;
}

.foto-fundo-usuario img {
    max-width: 950px;
    max-height: 270px;
    width: 950px;
    height: 270px;
}

#icone-editar-foto-fundo-usuario {
    width: 77px;
    height: 77px;
    background-color: rgba(66, 125, 157, 0.70);
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 240px;
    padding: 0.5rem;
}

.foto-perfil-usuario {
    width: 205px;
    height: 205px;
    max-width: 205px;
    max-height: 205px;
    position: absolute;
    top: 200px;
    left: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 110px;
    border: 6px solid var(--COR-04);
}

.foto-perfil-usuario img {
    width: 100%;
    height: 100%;
}

#icone-editar-foto-perfil-usuario {
    height: 110px;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 110px;
    border-radius: 60px;
}

#img-icone-editar-foto-fundo-usuario {
    width: 80%;
    height: 80%;
    padding: 0.5rem;
}

#nome-usuario {
    width: 90%;
    height: 100%;
    background-color: var(--COR-04);
    border: none;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: var(--FONTE);
    border-radius: 20px;
    color: var(--COR-TEXTO-04);
}

#nome-usuario:focus {
    outline: none;
}

#contagem-caracteres-descricao-usuario {
    display: none;
    flex-direction: row-reverse;
    color: var(--COR-TEXTO-05);
}

#descricao-usuario {
    height: auto;
    background-color: var(--COR-04);
    border: none;
    font-family: var(--FONTE);
    font-size: 30px;
    border-radius: 20px;
    color: var(--COR-TEXTO-04);
    resize: none;
    overflow-y: hidden;
    padding-left: 20px;
}

#descricao-usuario:focus {
    outline: none;
}

.postagens {
    width: 100%;
}

.caixa-publicacao {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.caixa-publicacao:hover {
    background-color: var(--COR-05);
    cursor: pointer;
}
#foto-perfil-usuario{
    border-radius: 100%;
}
.botao-acao-perfil{
    display: flex;
    position: absolute;
    right: 5rem;
    top: 22rem;
}
.botao-acao-perfil button{
    width: 8rem;
    background-color: var(--COR-04);
    border: none;
    cursor: pointer;
}
