@font-face {
    font-family: 'Monomaniac One';
    src: url("../fonts/MonomaniacOne-Regular.ttf") format('truetype');
}

:root {
    --COR-04: #164863;
    --COR-03: #427D9D;
    --COR-02: #9BBEC8;
    --COR-01: #DDF2FD;
    --COR-TEXTO-01: rgba(22, 72, 99, 0.3);
    --COR-TEXTO-02: rgba(22, 72, 99, 0.8);
    --COR-TEXTO-03: rgba(221, 242, 253, 0.50);
    --COR-TEXTO-04: #DDF2FD;
    --COR-TEXTO-05: rgba(221, 242, 253, 0.70);
    --FONTE: "Monomaniac One", sans-serif;
    --TAMANHO-FONTE: 25px;
}

body {
    background-color: var(--COR-02);
    font-family: var(--FONTE);
}

html, body, footer {
    margin: 0;
    padding: 0;
}

.comunidades-participantes {
    background-color: var(--COR-03);
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 20px;
    margin-right: 30px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding-left: 50px;
    border-bottom: 3px solid var(--COR-04);
}

.selecionado {
    margin-right: 70px;
    color: var(--COR-TEXTO-04);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cabecalho a {
    color: var(--COR-TEXTO-03);
    text-decoration: none;
}

#linhaSelecionado {
    height: 6px;
    background-color: var(--COR-01);
    display: flex;
    border-radius: 20px;
}

.caixa-comunidade {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    border-top: 2px solid var(--COR-04);
}

.caixa-comunidade a {
    text-decoration: none;
    display: flex;
}

.caixa-comunidade .imagem-foto-perfil-comunidade {
    height: 83px;
    width: 83px;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 30px;
    justify-content: center;
    display: flex;
    align-content: center;
}
.imagem-foto-perfil-comunidade img{
    border-radius: 100%;
}
.caixa-comunidade h3 {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--COR-01);
    align-self: center;
    font-size: 25px;
}

.sair-comunidade {
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: var(--COR-04);
    color: var(--COR-TEXTO-04);
    margin-right: 50px;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    font-family: var(--FONTE);
    font-size: 30px;
}

.sair-comunidade:hover {
    cursor: pointer;
    border: 1px solid #FF0000;
    background-color: var(--COR-03);
    transition: 0.5s;
    color: #FF0000;
}

.pesquisar-amigo {
    position: fixed;
    right: 45px;
    top: 20px;
    width: 450px;
    height: 50px;
}

.pesquisar-amigo input {
    background-color: var(--COR-03);
    color: var(--COR-TEXTO-04);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: var(--FONTE);
    padding-left: 80px;
    font-size: var(--TAMANHO-FONTE);
}

.pesquisar-amigo label {
    display: flex;
    align-items: center;
}

.pesquisar-amigo input:focus {
    border: var(--COR-04) 4px solid;
    outline: none;
}

.pesquisar-amigo input::placeholder {
    color: var(--COR-TEXTO-03);
    margin-left: 10px;
}

.pesquisar-amigo img {
    position: absolute;
    height: 40px;
    width: 30px;
    padding-left: 25px;
}

.pesquisar-amigo .lista-pesquisa-perfil {
    background-color: var(--COR-03);
}

.pesquisar-amigo .lista-pesquisa-perfil img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pesquisar-amigo .lista-pesquisa-perfil p {
    color: var(--COR-TEXTO-04);
    margin-left: 35px;
    font-size: 20px;
    align-self: center;
}

.pesquisar-amigo .resultado-pesquisa-perfil {
    display: flex;
    flex-direction: column;
}

.pesquisar-amigo .resultado-pesquisa-perfil:hover {
    background-color: rgba(51, 71, 87, 0.42);
    cursor: pointer;
    transition: 0.2s;
}

.perfis-sugeridos {
    background-color: var(--COR-03);
    width: 450px;
    height: auto;
    position: fixed;
    right: 45px;
    top: 75px;
    border-radius: 20px;
}

.perfis-sugeridos .caixa-usuario {
    display: flex;
}

.perfis-sugeridos img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.perfis-sugeridos .caixa-usuario p {
    color: var(--COR-TEXTO-04);
    margin-left: 35px;
    font-size: 20px;
    align-self: center;
}

.botaoSeguir {
    position: absolute;
    right: 30px;
    margin-top: 10px;
    border: none;
    width: 110px;
    height: 45px;
    border-radius: 20px;
    background-color: var(--COR-04);
    color: var(--COR-TEXTO-04);
    font-family: var(--FONTE);
    font-size: 25px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.sem-comunidades {
    align-self: center;
    font-size: 40px;
    color: var(--COR-01);
}

.listaPesquisaPerfil {
    background-color: var(--COR-03);
    border: 1px solid var(--COR-04);
    display: none;
    transition: 1s;
    z-index: 2;
    position: relative;
    box-shadow: 2px 20px 11px 5px rgba(0, 0, 0, 0.5)
}

.pesquisar-comunidade {
    background-color: var(--COR-03);
    position: fixed;
    right: 45px;
    bottom: 370px;
    width: 450px;
    height: 50px;
    border-radius: 20px;
}

.pesquisar-comunidade input {
    background-color: var(--COR-03);
    color: var(--COR-TEXTO-04);
    border: none;
    width: 100%;
    height: 50px;
    font-family: var(--FONTE);
    padding-left: 80px;
    font-size: var(--TAMANHO-FONTE);
    border-radius: 20px;
}

.pesquisar-comunidade input::placeholder {
    color: var(--COR-TEXTO-03);
}

.pesquisar-comunidade label img {
    position: absolute;
    height: 40px;
    width: 30px;
    padding-left: 25px;
}

.pesquisar-comunidade input:focus {
    border: var(--COR-04) 4px solid;
    outline: none;
}

.pesquisar-comunidade label {
    display: flex;
    align-items: center;
}

.comunidades-sugeridas {
    background-color: var(--COR-03);
    width: 450px;
    height: auto;
    position: fixed;
    right: 45px;
    top: 365px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.comunidades-sugeridas .criar-comunidade {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 20px;
}

.comunidades-sugeridas .criar-comunidade button {
    background-color: var(--COR-03);
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--COR-TEXTO-04);
    text-decoration: none;
    align-items: center;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    font-family: var(--FONTE);
}

.criar-comunidade button:hover {
    cursor: pointer;
}

.comunidades-sugeridas .imagem {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 30px;
}

#linhaCriarComunidade {
    border: 2px solid var(--COR-01);
    width: 420px;
    align-self: center;
}

#popup-nova-comunidade {
    display: none;
    position: absolute;
    margin-left: 277px;
    width: 950px;
    top: 10px;
    background-color: var(--COR-04);
    height: auto;
    border-radius: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
}

#popup-nova-comunidade p {
    color: var(--COR-TEXTO-04);
    font-size: 25px;
    padding-left: 20px;
}

#popup-nova-comunidade .cabecalho {
    border-bottom: 0;
}

#popup-nova-comunidade button {
    background-color: var(--COR-03);
    font-family: var(--FONTE);
    border: none;
    color: var(--COR-TEXTO-04);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    padding-top: 0;
    font-size: 20px;
}

#popup-nova-comunidade .foto-fundo img {
    max-width: 950px;
    max-height: 270px;
}

#img-foto-fundo {
    width: 950px;
    height: 270px;
}

#popup-nova-comunidade .foto-fundo .icone-editar-foto {
    width: 77px;
    height: 77px;
    background-color: rgba(66, 125, 157, 0.70);
    border-radius: 40px;
    position: absolute;
    right: 10px;
    top: 240px;
}

.icone-editar-foto {
    width: 77px;
    height: 77px;
    background-color: rgba(66, 125, 157, 0.70);
    border-radius: 40px;
}

.foto-fundo .icone-editar-foto img {
    padding: 8px;
}

.foto-perfil-comunidade {
    width: 205px;
    height: 205px;
    max-width: 205px;
    max-height: 205px;
    position: absolute;
    top: 200px;
    left: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 110px;
    border: 6px solid var(--COR-04);
}

#img-foto-perfil-comunidade {
    display: block;
    position: absolute;
    max-width: 205px;
    max-height: 205px;
    border-radius: 120px;
}

#icone-editar-foto-perfil {
    height: 110px;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 110px;
    border-radius: 60px;
}

#img-icone-editar-foto-perfil {
    height: 100px;
    position: absolute;
    width: 110px;
    border-radius: 0;
    left: 0;
    top: 0;
}

.foto-perfil-comunidade .icone-editar-foto img {
    height: 110px;
    position: absolute;
    left: 47px;
    top: 48px;
    width: 110px;
    border-radius: 60px;
}

.foto-perfil-comunidade .icone-editar-foto {
    height: 110px;
    position: absolute;
    left: 115px;
    top: 310px;
    width: 110px;
    border-radius: 60px;
}

.icone-editar-foto:hover {
    cursor: pointer;
}

.inputs {
    background-color: var(--COR-04);
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.inputs label {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--COR-03);
    align-self: center;
    color: rgba(66, 125, 157, 0.50);
    border-radius: 20px;
    font-size: 25px;
    min-height: 80px;
    height: auto;
}

.inputs label[for="nomeComunidade"] input {
    background-color: var(--COR-04);
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100%;
    font-family: var(--FONTE);
    font-size: 30px;
    color: var(--COR-TEXTO-04);
    padding-left: 20px;
}

.inputs label small {
    padding-left: 20px;
}

.inputs label[for="nomeComunidade"] input:focus {
    outline: none;
    padding-left: 20px;
}

.inputs label[for="descricaoComunidade"] {
    display: flex;
    flex-direction: column;
    height: auto;
}

.inputs label[for="descricaoComunidade"] textarea {
    height: auto;
    background-color: var(--COR-04);
    border: none;
    font-family: var(--FONTE);
    font-size: 30px;
    border-radius: 20px;
    color: var(--COR-TEXTO-04);
    resize: none;
    overflow-y: hidden;
    padding-left: 20px;
}

.inputs label[for="descricaoComunidade"] textarea:focus {
    outline: none;
}

#contagem-caracteres-comunidade {
    display: none;
    flex-direction: row-reverse;
    color: var(--COR-TEXTO-05);
}

#close:hover {
    cursor: pointer;
}

#editarFotoPerfil {
    display: none;
}

#editarFotoFundo {
    display: none;
}

#fundo-escuro {
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.pagina-incial {
    background-color: var(--COR-03);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    border-radius: 20px;
}

#pagina-inicial:hover {
    cursor: pointer;
    background-color: #1F465EFF;
    transition: 0.2s;
}

.pagina-incial a {
    text-decoration: none;
    font-size: 25px;
    padding-left: 40px;
    align-self: center;
    color: var(--COR-TEXTO-04);
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.pagina-incial img {
    width: 30px;
    position: absolute;
    right: 80px;
}

.icone-caret-right {
    width: 40px;
    height: 65px;
    background-image: url("../images/caret-right-solid.svg");
    background-size: 35px;
    filter: invert(1);
    position: absolute;
    right: 15px;
    margin-top: 5px;
}
